<p>
  Biologically-Intensive agriculture (Biointensive) is a food-growing method that works in harmony with nature.  When properly practiced, Biointensive allows nature to operate according to its design to sustain life indefinitely.  Evidence is that, for at least 4,000 years and on at least four continents, small-scale, Biologically-Intensive agriculture provided the foundation for flourishing civilizations to grow their food without causing significant harm to their environments.  For approximately the last 125 years, a relatively new experiment has been taking place on the world's farmland in the form of a mechanized, chemical form of food growing.  As a resut, the world's farmable soils—the basis of agriculture and civilization—as well as its water stores, energy resources, nutrients and wild habitats for our fellow species are resources that are being depleted at accelerated rates.

  This does not have to be so.


</p>
<p>
  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Popover on top
  </button>
  A note about knowledge:[pop up]
<!--
  Some of the greatest modern advances in sustainable, small-scale, Biologically-Intensive agriculture were made by market gardeners and farmers practicing the French Intensive System thorughout the 17th to 19th centuries.  In those days, farming societies were commonly organized into guilds with each guild closely guarding its trade secrets.  The value of knowledge was understood.  For at least 4,000 years the Chinese grew the food for their civilization from the same plots of land using Biointensive techniques.  The people called their farmers "living libraries" because they understood that their farmers' experience extended beyond book knowledge.  Ecology Action owes much of its knowledge to these and countless other hard-working and innovative food growers throughout all time periods and across our planet.

  Since its founding, Ecology Action's goal has been, through research, practice, and teaching:  to re-discover the universal scientific principles and trade secrets behind sustainable food growing, to attain the experience that creates farmer "living libraries", and to share this knowledge with as many people as possible around the world, including you.
-->
  Since 1972, Ecology Action has been collecting knowledge as old as recorded agriculture itself, re-discovering the universal scientific principles behind sustainable food growing that are equally applicable wherever food is grown.

  While there are no 'quick fixes' to the current problems with agriculture, there are real solutions.

  What is the value of farming literacy?  This website is your library card; the garden is your classroom."
</p>
<p center>

  It is Ecology Action's hope and objective that through this website you will gain:


  <strong>Knowledge:</strong>

  1) of the challenges we are facing
  2) of the hope that can be ours by accepting the pleasurable responsibility inherent in cooperating with the Earth to grow food.

  <strong>Feelings:</strong>

  1) of relief (that there is a solution)
  2) of empowerment (that the solution is you)

  and <strong>Inspiration:</strong>

  to act where you are to put into practice the knowledge learned and to share this knowledge with others.

  Tomorrow depends on the positive actions you and I take today. Please join us and millions around the world who are making a World of Difference.
</p>
<div class="pull-left">
  [button: Why GROW BIOINTENSIVE?]
</div>
<br>
<p class="center">
  [button: Enter Site]
</p>
<br>
