<!--
<div class="vid-container">
-->
<div class="video">



  <!-- iframe for video
<iframe  width="100%" height="100%"
        src="media/gb_intro.mp4"
        frameborder="0" allowfullscreen></iframe>
-->

  <!--youtube
  <iframe  width="100%" height="100%"
          src="https://www.youtube.com/embed/FPeAvYrfKkU?autoplay=1"
          frameborder="0" allowfullscreen></iframe>

  -->


  <video  width="100%" height="92%" controls="true" autoplay src="media/gb_intro_sd.mp4" type="video/mp4"></video>

      <%# video_tag "/media/gb_intro.mp4", width: "100%", height: "92", controls: true, autoplay: true, autobuffer: true, type: "video/mp4" %>
  <span class="center"><%= link_to 'High Definition Movie', movie_path, class: 'btn btn-default btn-xs' %></span>

</div>
