<div class="video">

  <video  width="100%" height="92%" controls="true" autoplay src="/media/gb_intro_sd.mp4" type="video/mp4"></video>

      <%# video_tag "/media/gb_intro.mp4", width: "100%", height: "92", controls: true, autoplay: true, autobuffer: true, type: "video/mp4" %>
  <span class="video-quality" style="float:right;">
    <!-- Got High-Bandwith? -->
    <%# link_to 'Watch the Movie in High Definition', movie_hd_path, class: 'btn button-orange-text'  %>
  </span>
</div>
