<div style="color:white;background:black;padding:4em;">
<%= icon('fa fa-photo fa-2x') %>
<br>
<br>
<%= icon('fa fa-video-camera  fa-2x') %>
<br>
<br>
 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
 <br><br>
</div>
