<% provide(:title, "Admin Page") %>

<div class="row edit-form">
  <div class="col-sm-2">
<h2>Topics</h2>
    <h2>Update Log</h2>
  </div>

  <div class="col-sm-10">
  <%= render 'admin/console' %>
  </div>

</div>



