<% provide(:logo, 'clear' ) %>

<%# if logged_in? %>

<div class="classroom-doors">




    <div class="col-md-8 col-md-offset-2 classroom-doors-text-bg">

    <%= render 'classroom_doors_text' %>

    </div>

</div>

<%# else %>



<%# end %>