<% provide(:logo, 'clear' ) %>

<%# if logged_in? %>

<div class="classroom-doors">



<div class="">
    <div class="col-md-8 col-md-offset-2 big-top">

    <%= render 'classroom_doors_text' %>

    </div>
</div>
</div>

<%# else %>



<%# end %>