<% if logged_in? %>
<!--
    <div class="row">
      <div class="col-md-4 classroom-col">
        <h2>Information</h2>
        <ol>
        </ol>
      </div>
      <div class="col-md-4 classroom-col">
        <h2>Action</h2>
      </div>
      <div class="col-md-4 classroom-col">
        <h2>Join</h2>

      </div>
    </div>

-->


    <script type="text/javascript">
        window.location.href="/topics"
    </script>


<!--
    <br>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%# render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%# render 'shared/user_stats' %>
        </section>
        </section>
        <section class="micropost_form">
          <%# render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%# render 'shared/feed' %>
      </div>
    </div>
-->
<% else %>

<div class="video">
<iframe  width="100%" height="100%"
        src="https://www.youtube.com/embed/FPeAvYrfKkU?autoplay=1"
        frameborder="0" allowfullscreen></iframe>
</div>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>

<% end %>