<% provide(:logo, 'clear' ) %>

<div class="offset-jimbo">
<div class="col-md-8 col-md-offset-2">
<div class="request-funding <%= rtl_checker(I18n.locale).to_s %>">

<%= t('general.funding_request_html') %>

  <h3><%= link_to 'Contact Ecology Action Regarding Content Development Funding', 'http' %></h3>
</div>
</div>
</div>