<% provide(:logo, 'clear' ) %>

<div class="offset-jimbo">
<div class="col-md-8 col-md-offset-2">
<div class="request-funding <%= rtl_checker(I18n.locale).to_s %>">

<%= t('general.funding_request_html') %>
  <div class="center">
  <%= link_to 'Contact Ecology Action Regarding Funding',
                                                  'https://donatenow.networkforgood.org/ecologyaction',
                                                  class: "btn btn-lrg button-major-orange"  %>
  </div>
</div>
</div>
</div>