<div class="list-group main-menu">
<% @topics[@temp_topic].kids.each do |t| %>

      <div class="list-group-item btn-main-menu">
      <!-- <a class="list-group-item"> -->
        <% if $edit_mode==1 %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_topic_path(t) %>
        <% end %>
        <%= link_to t.name, t %>
        <br>
        <% t.kids.each do |tt| %>
        <sb><%= link_to tt.name, tt %>, </sb>
        <% end %>

      </div>

<% end %>
</div>


