<% provide(:title, 'Classroom') %>

<div class="row low-gutter">
  <div class="col-md-4">
    <h5> <i class="fa fa-book fa-2x"></i> </h5>
    <% @temp_topic=0 %>
    <%= render 'column' %>
  </div>


  <div class="col-md-4">
    <h5> <i class="fa fa-child fa-2x"></i> </h5>
    <% @temp_topic=1 %>
    <%= render 'column' %>
  </div>


  <div class="col-md-4">
    <h5> <i class="fa fa-users fa-2x"></i> </h5>
    <% @temp_topic=2 %>
    <%= render 'column' %>
  </div>

</div>



