<% if logged_in? %>



<% provide(:title, 'Classroom') %>

<div class="row low-gutter">

  <% @temp_topic=0 %>
  <div class="col-sm-4">
  <%= render 'column' %>
  </div>
  <!-- 2nd column -->
  <div class="col-sm-4">
  <% @temp_topic=1 %>
  <%= render 'column' %>
  </div>


  <!-- 3rd column -->
  <div class="col-sm-4">
  <% @temp_topic=2 %>
  <%= render 'column' %>
  </div>


</div>

<% else %>
    <script type="text/javascript">
        window.location.href="/"
    </script>
<% end %>
