<% if logged_in? %>



<% provide(:title, t('titles.classroom') ) %>

    <div class="

    <% if edit_mode == 1 %>
        offset-jimbo

    <% end %>
">

    <div class="row low-gutter <% if edit_mode == 1 %>
                                edit-form
                                <% end %>
                                ">

  <% @temp_topic=0 %>
  <div class="col-xs-12 col-sm-4">
  <%= render 'column' %>
  </div>
  <!-- 2nd column -->
  <div class="col-xs-12 col-sm-4">
  <% @temp_topic=1 %>
  <%= render 'column' %>
  </div>
  <!-- 3rd column -->
  <div class="col-xs-12 col-sm-4">
  <% @temp_topic=2 %>
  <%= render 'column' %>
  </div>


</div>
    </div>

<% else %>
    <script type="text/javascript">
        window.location.href="/"
    </script>
<% end %>

