

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-gears"></i>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "edit mode", admin_edit_toggle_path, :method=> :post %></li>
        <li><%# link_to "Settings", edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <li><%= link_to "All Publications", pubs_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Admin Page", users_path %></li>
        <li class="divider"></li>

      </ul>
    </li>

