<li>
  <ul class="list-inline2">

    <li>
      <img class="img-circle"<%= gravatar_for user, size: 50 %> </img>
    </li>

    <li>
      <%= link_to user.name, user %>
      <% if user.admin == TRUE %>
          ADMIN USER
      <% end %>
    </li>


      <% if current_user.admin? && !current_user?(user) %>
          <% if $edit_mode==1 %>
            <li>
              <%= link_to "delete", user, method: :delete,
                          data: { confirm: "You sure?" } %>
            </li>
            <li>
                <%= button_to "Toggle Admin", admin_toggle_user_path(user) ,:method => :post, class: "btn" %>
            </li>
          <% end %>

      <% end %>


</ul>
</li>