<% provide(:title, 'All users') %>
<div class="row row_fullwidth b0">
  <h1>All users</h1>

  <%= will_paginate %>

  <div class="" style="height:90%;">
    <ul style="height:90%;overflow:auto;" class="users ">
      <%= render @users.order(:name) %>
    </ul>
  </div>

<%= will_paginate %>
</div>
