<% provide(:title, 'All users') %>
<h1>All users</h1>

<%# will_paginate %>

<div class="b0" style="height:90%;">
  <ul style="height:90%;overflow:auto;" class="users ">
    <%= render @users.order(:name) %>
  </ul>
</div>

<%# will_paginate %>
