<% if edit_mode == 1 %>
    <%= image_tag "growing_content.jpg", :width => "100%" %>
<% else %>

    <div class="container-placeholder" style="border-radius:.28em;">
      <%# video_tag "growing.mp4", :width => "100%", controls: true, autoplay: true %>
      <% source = '/' + I18n.locale.to_s + '/media/growing.mp4' %>

      <%# video_tag source, :width => "100%", controls: true, autoplay: true %>
      <%# image_tag "growing_content.jpg", :width => "100%", :class => "image-bg" %>

      <h5 class="growing-banner">
        <%= t('general.placeholder') %>
      </h5>
      <p class="growing-banner">
        <%= t('general.register_above') %>
        <br>
<%# link_to t('general.contribute'), request_funding_url, class: "btn-wrap button-major-orange" %>
      </p>
      <ul class="list-group">
        <li class="list-group-item button-major-orange">
          <%# link_to t('general.contribute'), request_funding_url%>
          <%= link_to t('general.contribute'), "http://secure.growbiointensive.org", target: "_blank" %>
        </li>
        <%# link_to t('general.contribute'), request_funding_url, class: "btn button-major-orange" %>
      <%# link_to t('general.contribute'), request_funding_url, class: "btn btn-success" %>
    </div>
<% end %>
