<div class="row offset-jimbo">
  <div class="col-md-8 page">
    <div style="text-align:right;float:right;font-size:smaller">
      <%= link_to 'View Page', @page %> |
      <%= link_to 'All Pages', pages_path %>
    </div>
    <h1>Editing Page</h1>

    <%= render 'form' %>

  </div>
  <div class="col-md-4">

  </div>
</div>
