<div class="row offset-jimbo">
  <div class="col-md-8 page">
    <h1>Editing Page</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @page %> |
    <%= link_to 'Back', pages_path %>
  </div>
  <div class="col-md-4">
    
  </div>
</div>
