@import "variables";

// BUTTON STYLES
.button-text {
  //font: $font-stack;
  color: $primary-color;
  margin-bottom: -.118em;
}

.button-text-small {
  //font: $font-stack;
  color: $primary-color;
  font-size: .618em;
  //line-height: .99em;
}

.button {

  //background-color: rgb(118, 149, 153);
  display: block;
  //border: thin;
  margin: 10px;
  //font-size: 1.35em;
  //padding: .1em;
  //text-align: left;
  color: $primary-color;
  a {
    color: black;

  }
}

.sub-topic-button {

  //font-size: .9em;
  border-color: white;
  //background-color: rgba(256,256,256,.5);
  background-color: rgba(lighten($primary-bg-color,20),.5);
  font-weight: 500;
  //padding: .3em .5em .1em .5em;
  color: rgb(68, 52, 23);
&:hover {
  //background-color: rgba(256,256,256,.93);
  background-color: rgba(lighten($primary-bg-color,20),.83);
  border-color: #3b5d5d;
}
}

.sub-topic-button-active {
  //background-color: rgba(256,256,256,.93);
  background-color: rgba(lighten($primary-bg-color,20),.83);
  border-color: #3b5d5d;
}

.fat-text-button {

  font-size: 1.3em;
  border: none;
  background-color: transparent;
  //background-color: rgba(lighten($primary-bg-color,20),.5);
  font-weight: 800;
  //padding: .3em .5em .1em .5em;
  color: rgba(68, 52, 23, .93);
  &:hover {
    //background-color: rgba(256,256,256,.93);
    background-color: rgba(lighten($primary-bg-color,0),.43);
    border-color: #3b5d5d;
  }
}

.fat-text-button-active {
  //background-color: rgba(256,256,256,.93);
  background-color: rgba(lighten($primary-bg-color,0),.43);
  border-color: #3b5d5d;
}

.major-button {

  font-size: 1.18em;
  border-color: white;
  //background-color: transparent;
  background-color: rgba(lighten($primary-bg-color,20),.5);
  font-weight: 600;
  //padding: .3em .5em .1em .5em;
  //color: rgba(68, 52, 23, .8);
  &:hover {
    //background-color: rgba(256,256,256,.93);
    background-color: rgba(darken($primary-bg-color,10),.93);
    border-color: #081111;
  }
}

.major-button-active {
  //background-color: rgba(256,256,256,.93);
  background-color: rgba(lighten($primary-bg-color,0),.43);
  border-color: #3b5d5d;
}

.btn-kill {
  color: #b04431;
  //&:hover {
  //color: #fff;

  //}
}

.btn-main-menu {
  //background-color: rgb(228, 192, 127);
  //background-color: rgba(lighten($primary-bg-color, 7%), .95);
  border-color: rgba(darken($primary-bg-color, 93%), 1);
  color: $primary-color;
  font-size: 1.35em;
  padding: 2%;
  //margin: .5%;
  //list-style: none;
  text-align: left;
  a {
    color: $primary-color;
  }
  // li {
  //padding: 10px 0;
  //border-top: 1px solid #e8e8e8;
  //}

}

.btn-a {
  background-color: #edffe6;
}



// SPECIAL BUTTON COLORS

.kids-corner-button-style {

  background-color: #ad82ef;
  .button-text {
    font-size: 1.618em;
    padding: .518em;
  }
}

.join-us-button-style {

  .button-text {
    //font: $font-stack;
    //color: $primary-color;
    //margin-bottom: -.118em;

    font-size: 1.618em;
  }

  .button-text-small {
    //font: $font-stack;
    //color: $primary-color;
    //padding: 1em;
    font-size: 1.0em;
    //line-height: .99em;
  }

}

#enter-button {
  padding-top: .5em;
  text-align: center;
  letter-spacing: .6em;
  font-size: 1em;

}