@import "variables";

html {
  //background-color: $primary-bg-color;
  height: 100%;
  //background: image_url("garden_footer.jpg") repeat-x center -60px;
  //background: radial-gradient(#8ec2c0, #fefebe);
  background: radial-gradient(circle, #fefebe,#f8e198, #8ec2c0 );

  //position: absolute;
  //bottom: 0;
  //overflow: hidden;

}

body {
  //visibility: hidden;
  min-height: 100%;
  padding: 0;
  padding-top: 50px;
  margin: 0;
  position: relative;
  font-family: $font-stack;
  overflow-x: hidden;
  overflow-y: auto;

  //background-color: $primary-bg-color;
  //background: linear-gradient( lighten($primary-bg-color,15%),darken($primary-bg-color,10%) );
  // original -- background: image_url("garden_footer.jpg") repeat-x center -60px;
  background: image_url("garden_footer.jpg") repeat-x center bottom -110px;
  //background-position: bottom -200px;
  //position: absolute;
  //bottom: -200px;
}
//body:after{ content:''; display:none; height:100px; }

.jumbotron {
  // background-color: darken($primary-bg-color,3%);
  padding-top: 10px;
  padding-left: 0;

}

.main-container {
  //position:
  min-height: 46em;
  padding-bottom: 3%;
  //background-position: -60px -60px;
  //background: image_url("garden_footer.jpg") repeat-x center -60px;

}

.jimbo {
  padding-left: 10%;
  padding-bottom: 0;

}

.offset-jimbo {
  margin-left: -11%;
  //padding-left: -10%;
}

.filled-container {
  background-color: rgba(255, 255, 255, .333);
  height: 100%;
  width: 100%;
}

.row {
  margin-left: -11%;
  margin-right: 0;

}

.low-gutter > [class*='col-'] {
  padding-right: .6%;
  padding-left: .6%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  //margin-bottom: 30px;
  //text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 2%;

  margin-top: 1%;
  //text-align: center;
  font-weight: normal;
  //color: #777;
  //line-height: .1em;
}

h3 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 2%;
  //text-align: center;
  font-weight: normal;
  //color: #777;
}

h4 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h5 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 2%;
  text-align: center;
  font-weight: normal;
  //color: #777;
}

h6 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 2%;
  text-align: center;
  font-weight: normal;
  //color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
