//@import "variables";


.navbar-nav > li {
  margin-left: -4px;
  margin-right: -4px;
}

.navbar-right {
  margin-right: 10px;
}


/* header */

.navbar-special-color {
  //background-color: lighten($primary-bg-color,8%);
  background-color: lighten($primary-bg-color, 11%);
}

#logo {
  float: left;
  margin-right: .5em;
  padding-left: 1em;
  font-size: 1.518em;
  font-weight: 800;
  color: #333;
  letter-spacing: -1px;
  padding-top: .5em;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.nav-menu-icons {

  text-align: center;
  margin-left: -1em;
  margin-right: -1em;
  padding: -1em;
}

.nav-menu-icons-dropdown {
  margin-left: -.5em;
  margin-right: -.5em;
  //padding: -.5em;
}

.header-middle {
  //width: 100%;
  //text-align: center;
}

#lang-dropdown {
  margin-top: 0;
  margin-bottom: 0;
}
