//@import "variables";
.wysiwyg-color-blue {
  color: #62d1ff;
}
body .modal_dialog_topic {
  /* new custom width */
    width: 92%;


    color: rgb(4,4,4);
    a &:visited{
      color: rgb(39,34,34);
    }
    //larger
    @media (min-width: 767px) {
      width: 80%;
    }
}
.model_topic_iframe {
    height: 70vh;
    @media (min-width: 1600px) {
      height: 90vh;
    }
}
.topic_show_window {
    max-width: 82em;
}

.main_content {
  height:inherit;
  width:100%;
  u {
    vertical-align: super;
      font-size: smaller;
      text-decoration: none;
  }
}
.column_index {
  max-height:84%;
  overflow:auto;
}

.content-window-bg-color {
  background-color: $primary-bg-color;
}

.content_window {

  // ** height: 100%;
  // margin: 2%;
  //margin-bottom: 10px;
  // *** bottom: 0;
  padding-bottom: 0;

}

.inherit_h {
  //position: relative;
  height: 100%;//inherit;
  //max-width: inherit;
}

#sub-topics-window {
  position: relative;
  padding-top: 1em;

  padding-left: .5em;
  padding-right: .5em;

  margin: 0 0 0em;


  //height: 4em;
  height: auto;//4em;
  //max-height: 100%;
}

#content-window {
  position: relative;
  background-color: rgba($content_bg_color, .93);
  margin: .618em 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: .3em .3em 0 0;
  padding: 1em 1em .1em;
  p {
    .hotwords {
      color: #62d1ff;
    }
  }

  color: #F7F7F7;
  a {
    //text-decoration: underline;
    color: #d5f3ff;
  }
}

.content-window-size-1 {
  height: auto;
  max-height: calc(100% - 17em);
}

.content-window-size-2 {
  height: auto;
  max-height: calc(100% - 10em);
}

.content-window-size-3 {
  height: auto;
  max-height: calc(100% - 9em);
}

.content-window-size-4 {
  height: calc(100% - 17em);
}

.content-window-size-5 {
  height: calc(100% - 10em);
}
.content-window-size-6 {
  height: calc(100% - 9em);
}


#below-content-window {
  position: relative;
  font-size: 0.76em;
  height: 2em;
  background-color: rgba(darken($content_bg_color, 2%), 0.98);
  margin: 0;

  padding-top: 0.3em;
  padding-left: .4em;
  padding-right: 1em;
  color: #F7F7F7;
  overflow-y: hidden;
  overflow-x: hidden;
  a {
    //text-decoration: underline;
    color: #d5f3ff;
  }

}

#supplimental-window {
  position: relative;
  background-color: lighten($content_bg_color, 2%);
  //background-color: #3c3c3c;
  height: 7em;
  color: white;
  //overflow: scroll;
  padding: .1em;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;

  a {
    color: #F7F7F7;
  }
}

#category-window {

  //background-color: #6c6c6c;
  //height: 7em;
  color: white;
  //padding-bottom: 0px;
  a {
    color: #F7F7F7;
  }
  //z-index: 0;
  position: relative;
  margin-top: 0;
  //  z-index:-1;
}

.tight-list {
  padding-left: -1em;
  padding-right: -1em;
  margin: -1em;
  margin-top: -1em;
  line-height: .9em;
}

.col-borders {
  border-color: darken($content_bg_color, 2%);
  border-right-style: solid;
  border-left-style: solid;
  height: 99%;

}


.tab-div {
  display: inline-block;
  vertical-align: top;
  position: relative;

  z-index: 0;
}
.tab-div-4 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  //left: 0;
  z-index: 0;
  .active {
    z-index: 1;
  }
}
.tab-div-1 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  //left: -42px;
  z-index: 0;
}
.tab-div-2 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  //left: -80px;
  z-index: 0;
}
.tab-div-3 {
  display: inline-block;
  vertical-align: top;
  position: relative;

  //left: -140px;
  z-index: 0;
}
.tab-all {
  opacity: .96;
}
.tab-cat4 {
  margin-right: -3.1em;
  z-index: 0;

}
.tab-cat0 {
  margin-right: -3.6em;
  z-index: 0;

}
.tab-cat1 {
  margin-right: -4.3em;
  z-index: 0;

}

.tab-cat2 {
  margin-right: -4.3em;
  z-index: 0;

}

.tab-cat3 {
  //margin-right: -3em;
  z-index: 0;

}


.tab-active {
  z-index: 10;
  background: none; // image_url("icon-tabs-cat-active.png") no-repeat center top;
  background-size: auto;
  overflow: visible;
  position: relative;
  opacity: 1;
  //padding: 0 24px 24px 24px;
  //margin: 0 -24px -24px -24px;

}
.tab-active::before {
   content: " ";
   position: absolute;
   left: -1.0em;
   width: calc(100% + 2.2em);
   height: calc(100% + 1.2em);
   z-index: 0;
   background: image_url("icon-tabs-cat-active.png") no-repeat center top;
   background-size: 100% 95%;
   pointer-events: none;
}

.tab-greyed-out {
  opacity: .4;
}
