//@import "variables";
.wysiwyg-color-blue {
  color: #62d1ff;
}
body .modal_dialog_topic {
  /* new custom width */
    width: 92%;


    color: rgb(4,4,4);
    a &:visited{
      color: rgb(39,34,34);
    }
    //larger
    @media (min-width: 767px) {
      width: 80%;
    }
}

.modal_topic_iframe {
    //height: 70vh;
    //height: 540px;
    //max-height: 100%;
    //@media (min-width: 1600px) {
      //height: 90vh;
      //height: 100%;
  //  }
}


.topic_show_window {
  max-width: 82em;
  position:relative;
  //width: 100%;
  //smaller
  @media (max-width: 766px) {
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
  }
}
.topic_show_window_small {
  width: 122%;
  position:relative;
  left: -2.1em;
  //right: ;

  overflow-y: visible;
  overflow-x:visible;
  visibility: visible;
  @media (min-width: 370px) {
    width: 115%;
  }
  @media (min-width: 420px) {
    width: 105%;
  }
  @media (min-width: 766px) {
    visibility: hidden;
    position: absolute;
    width: 100%;
  }
}

.main_content {
  height:inherit;
  width:inherit;
  u {
    vertical-align: super;
      font-size: smaller;
      text-decoration: none;
  }
}
.column_index {
  //max-height:86%;
  max-height:calc( 100% - 6em);
  //overflow: hidden;
  overflow-x:visible;
  @media (min-width: 767px) {
    overflow:hidden;
    &:hover {
      overflow:auto;
    }
    &:focus {
      overflow:scroll;
    }
    &:active {
      overflow:scroll;
    }
  }
}

.content-window-bg-color {
  background-color: $primary-bg-color;
}

.content_window {

  // ** height: 100%;
  // margin: 2%;
  //margin-bottom: 10px;
  // *** bottom: 0;
  padding-bottom: 0;

}

.inherit_h {
  //position: relative;
  height: 100%;//inherit;
  //height: inherit;
  //max-width: inherit;
  @media (max-width: 767px) {
    height: auto;
  }
}

.height_media {
    @media (max-width: 766px) {
      height: auto;
    }
}

#sub-topics-window {
  position: relative;
  padding-top: .5em;

  padding-left: .1em;
  padding-right: .1em;

  margin: 0 0 0em;


  //height: 4em;

  overflow-y: auto;
  overflow-x: visible;
  h3 {
    font-size: 1.5em;
    @media (min-width: 767px) {
      font-size: 1.4em;
    }
  }
  a {
    margin: .2em;
    margin-left: .12em;
    margin-right: .12em;
    font-size: .5em;
    font-weight: 700;
  }
  @media (min-width: 767px) {
    padding-left: .5em;
    padding-right: .5em;
    height: 4.9em;
    a {
      margin: 0.1em;
      font-weight: 500;
      font-size: .58em;
    }
  }
  @media (min-width: 1025px) {
    padding-top: 1em;
    height: auto;
  }
}

#content-window {
  position: relative;
  background-color: rgba($content_bg_color, .93);
  margin: .618em 0 0;
  overflow-y: auto;
  //overflow-x: hidden; ***
  border-radius: .3em .3em 0 0;
  padding: 1em 1em .1em;
  p {
    .hotwords {
      color: #62d1ff;
    }
  }

  color: #F7F7F7;
  a {
    //text-decoration: underline;
    color: #d5f3ff;
  }
  @media (max-width: 511px) {
    font-size: .4em;
    h1 {

    }
  }
  @media (min-width: 512px) {
    font-size: .8em;
    h1 {
      font-size: 3em;
    }
  }
  @media (min-width: 1278px) {
    font-size: 1em;
    h1 {

    }
  }

}

.content-window-size-1 {
  height: auto;
  max-height: calc(100% - 22em);
}

.content-window-size-2 {
  height: auto;
  max-height: calc(100% - 13em);
}

.content-window-size-3 {
  height: auto;
  max-height: calc(100% - 19em);
}

.content-window-size-4 {
  height: calc(100% - 20em);
}

.content-window-size-5 {
  height: calc(100% - 13em);
}
.content-window-size-6 {
  height: calc(100% - 12em);
}


#below-content-window {
  position: relative;
  font-size: 0.76em;
  height: 2em;
  background-color: rgba(darken($content_bg_color, 2%), 0.98);
  margin: 0;

  padding-top: 0.3em;
  padding-left: .4em;
  padding-right: 1em;
  color: #F7F7F7;
  overflow-y: hidden;
  overflow-x: hidden;
  a {
    //text-decoration: underline;
    color: #d5f3ff;
  }


}

#supplimental-window {
  position: relative;
  background-color: lighten($content_bg_color, 2%);
  //background-color: #3c3c3c;
  height: auto;//17em;
  color: white;
  //overflow: scroll;
  padding: .1em;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: .5em;
  a {
    color: #F7F7F7;
  }
  p {
    margin-bottom: 1em;
  }
  @media (min-width: 512px) {
    font-size: 1em;
    height: 7em;
  }
}

#category-window {
  width: 110%;
  @media (min-width: 767px) {
    min-width: 36em;
  }
  color: white;
  position: relative;
  margin-top: 0;
  a {
    color: #F7F7F7;
  }
}

.tight-list {
  height: calc(100% - 1.5em);
  padding-left: -1em;
  padding-right: -1em;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: -1em;
  line-height: 1em;
  margin-bottom: -1em;
  padding-bottom: 2em;
  padding-top: .2em;
  overflow-y: auto;

  .item {
    padding:.1em;
    padding-bottom: .4em;
  }
}

.col-borders {
  border-color: darken($content_bg_color, 2%);
  border-right-style: solid;
  border-left-style: solid;
  height: 99%;

}


.tab-div {
  display: inline-block;
  vertical-align: top;
  position: relative;

  z-index: 0;
}
.tab-div-4 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  //left: 0;
  z-index: 0;
  .active {
    z-index: 1;
  }
}
.tab-div-1 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  //left: -42px;
  z-index: 0;
}
.tab-div-2 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  //left: -80px;
  z-index: 0;
}
.tab-div-3 {
  display: inline-block;
  vertical-align: top;
  position: relative;

  //left: -140px;
  z-index: 0;
}
.tab-global {
  //max-width: 25%;
  @media (max-width: 767px) {
  img {
    width: 7em;
  }
 }
}
.tab-all {
  opacity: .96;

}
.tab-cat4 {
  margin-right: -3.1em;
  z-index: 0;

}
.tab-cat0 {
  margin-right: -3.6em;
  z-index: 0;


}
.tab-cat1 {
  margin-right: -4.3em;
  z-index: 0;


}

.tab-cat2 {
  margin-right: -4.3em;
  z-index: 0;


}

.tab-cat3 {
  //margin-right: -3em;
  z-index: 0;


}


.tab-active {
  z-index: 10 !important;
  background: none; // image_url("icon-tabs-cat-active.png") no-repeat center top;
  background-size: auto;
  overflow: visible;
  position: relative;
  opacity: 1;
}

.tab-active::before {
   content: " ";
   position: absolute;
   left: -1.1em;
   width: calc(100% + 2.3em);
   height: calc(139% + .05em);
   z-index: 0;
   background: image_url("icon-tabs-cat-active-blue.png") no-repeat center top;
   background-size: 100% 95%;
   pointer-events: none;

}

.tab-greyed-out {
  opacity: .4;

}
