@import "variables";

.vid-container {
  //margin-top: 100px;
  //background-color: transparent;

}

.video {
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left:0;
  z-index: 1;
  //margin-top: 100px;

  //background-color: #000000;
  //background-color: $primary-bg-color linear-gradient(lighten($primary-bg-color, 18%), darken($primary-bg-color, 11%));
  //background-color: transparent;
  background-color: $primary-bg-color;
  //padding-bottom: 100px;
}