// COLORS


.b0 {
  background-color: $primary-bg-color;
}

.b1 {
  background-color: darken($btn1, 1%);
}

.b2 {
  background-color: darken($btn2, 0%);
}

.b3 {
  background-color: darken($btn3, 1%);
}

.b4 {
  background-color: $clr4;
}
.b5 {
  background-color: darken($primary-bg-color, 50%);
}

.c1 {
  color: darken($btn1, 20%);
}

.c2 {
  color: darken($btn2, 20%);
}

.c3 {
  color: darken($btn3, 20%);
}

.c4 {
  color: $clr4;
}

.c5 {
  color: darken($primary-bg-color, 50%);
}

.c-red {
  color: red;
}


.grad_c_1 {
  background-color: $grad_c_1;
}

.library_bg_color {
  background-color: rgb(223, 229, 229)
}
.users_bg_color {
  background-color: rgb(239, 231, 221)
}
