@keyframes slow_throb {
  0% {

    transform: scale3d(1, 1, 1);
  }

  50% {

    transform: scale3d(1.10, 1.10, 1.10);
  }

  100% {

    transform: scale3d(1, 1, 1);
  }
}

.slow-throb {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: slow_throb;
}
