@import "variables";

#library {

  margin-top: 2em;
}

.search-button {
  display: inline-block;
  width: 6em;
}

.search-field {
  display: inline-block;
}

#search-form {
  display: inline-block;
}