//@import "variables";

#library {

  margin-top: 2em;
  overflow-y: scroll;
  margin-bottom: 6em;
}

.search-button {
  display: inline-block;
  width: 6em;
}

.search-field {
  display: inline-block;
}

#search-form {
  display: inline-block;
}

.library_table {
  border-color: black;
  a {
    color: rgb(10,10,10);
    &:hover {
      text-decoration: none;
    }
  }
}


.library_card {
  @media (max-width: 766px) {
      font-size: .62em;
      padding: .5em;
  }
  background-color: white;
  display:inline-block;
  border-radius:.3em;
  padding: 1em;
  border: 1px solid;
  border-color: rgba(0,0,0,.5);
  margin:.2em;


}
