//@import "variables";

#library {

  margin-top: 2em;
  overflow-y: scroll;
  margin-bottom: 6em;
}

.search-button {
  display: inline-block;
  width: 6em;
}

.search-field {
  display: inline-block;
}

#search-form {
  display: inline-block;
}

.library_table {
  border-color: black;
  a {
    color: rgb(10,10,10);
    &:hover {
      text-decoration: none;
    }
  }
}
