html {
  background: none;
  //background-color: rgb(34,34,34);
  //background: none; //color: #222222;
}

body {
  //background: none;
  background-image: none;
  background-color: #fff;
  padding:0;

u {
  vertical-align: super;
    font-size: smaller;
    text-decoration: none;
}
  //color: white;
  //p {
    //color: white;
//  }
}
