// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page {
  padding: 4em;
  padding-bottom: 8em;
  margin-bottom: 4em;
  max-width: 70em;
  background-color: rgba(190,186,182,.95);
  background-color: $primary-bg-color;
  border-radius: .3em;
  height: 100%;

  u {
    vertical-align: super;
      font-size: smaller;
      text-decoration: none;
  }
  img {
    max-width: 100%;
  }

}
