
/* vv To be sorted CSS vv */
.real-small {
  font-size: .618em;

}

.trimmed-icon {
  padding-left: 5%;
  padding-right: 5%;
}

.img-icon {
  width: 3em;
}

.small-icon {
  margin-top: .55em;
  vertical-align: top;
  align-content: flex-start;
  //margin-top: -2em; *****
  max-height: 2.0em;

}

.tight-butt {
  padding-bottom: 0;
  margin-bottom: -1%;
}

.big-butt {
  padding-bottom: 16%;
}

.nice-butt {
  padding-bottom: 2em;
}

.firm-butt {
  padding-bottom: 0;
  margin-bottom: .2em;
}

.tight-top {
  margin-top: 0;
}

.big-top {
  padding-top: 2em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.table-bb {
  border-color: black;
}


.edit-form {
  background-color: $secondary_color;
  padding: 2em;
  //height: 100%;
  //padding-right: -3em;
  margin-left: -2em;
  margin-right: -1em;
  height: 100%;
  //overflow-y: scroll;
}

.edit_topic {
  margin-top: -1em;
}

.edit-color {
  color: rgb(135, 27, 68);

}

.edit-color-bg {
  font-size: 1.1em;
  //padding-bottom: 0;
  //margin-bottom:0;
  //padding-left: 1em;
  background-color: rgba(255, 161, 1, 1);
  border-radius: .2em;
  padding: .3em;
  box-shadow: 0px 0px 10px 5px rgb(255, 161, 1);
}

.img-icon {
  max-width: 4em;

}

.img-hi-responsive {
  max-width: 100%;
  //height: 100%;
  max-height: 10%;
}

.main-menu {
  // list-style: none;
  text-align: left;

  .sb {

    //clear: both;
    font-size: .55em;
    line-height: .1em;
  }

}

.list-inline2 {

  text-decoration: none;

  ul {
    list-style-type: none;
    //list-style: none;
    margin: 0;
    padding: 0;
    //float: left;
  }

  li {
    display: inline-block;
    //float: left;
  }
}

.navbar-right {
  padding-left: 0;
  float: right;
  padding-right: 2em;
  }

.nav-list {
  list-style-type: none;
  padding: 0;

}

.top-menu-icon {
  //width: 10%;
  padding: 0;
  margin: 0;
}

.pdf-viewer {
  height: 100%;
  //overflow: hidden;
}
.full-content {

}
.video-viewer {
  height: 20em;
  width: 100%;
  overflow: hidden;
  background: transparent;
}
#pdf-viewer1 {
  height: $pre-scrollable-max-height;
  overflow: visible;

}
.image-viewer {
    img {
      width: 100%;
    }
}

.classroom-col {
  border: medium solid #222222;
  border-radius: 1%;
}

.bottom {
  //position: absolute;
//  left: 0;
  //bottom: 0;

}

footer {
  position:fixed;
  bottom: -.2em;
  width:100%;
  //height:100px;

  padding-right: 2em;
  margin-top: 45px;
  padding-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 100;
  //border-top: 1px solid #eaeaea;

  color: #e3e3e3;
  a {
    color: #e3e3e3;
    &:hover {
      color: $site_orange;
    }
  }
  small {
    float: left;
    margin-left: 1em;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1em;
      //font-size: xx-small;
    }
  }
  @media (max-width: 766px) {
    //visibility: hidden;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* MISC */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  max-height: 100%;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

a.list-group-item {
  color: $primary-color;

}

a {
  color: $primary-color;
}

.alert {
  position: absolute;
  right: 0;
  margin-top: .5em;
  z-index: 100;
}

.hot-words {
  color: #62d1ff;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.classroom-doors {
  //background-color: $site_bg_gradient;
  //background: image_url("classroom_doors.jpg") center -22em;
  //background-size: cover;
  //background-repeat: repeat-y;

  //height: 90em;
  //height: 100%;
  padding-top: 1em;

  margin-left: -14%;
  margin-right: -2%;
  //color: #dffdff;
  color: black;
  text-align: justify;

  font-weight: 500;
  font-size: 1.31em;

}


#classroom-doors-text-bg {

  //margin-left: 6em;
  //margin-right: 6em;
  padding-left: 3.618em;
  padding-right: 3.618em;
  padding-top: 2.618em;
  //padding-bottom: 12em;

  //margin-left: 2em;
  //margin-right: 2em;
  //background-color: rgba(56, 32, 29, 0.55);
  background-color: rgba(255, 255, 255, .333);

  //height: 100%;

  border-radius: 4em 4em 0 0;
  -webkit-hyphens: manual;


}



.archtop {
float: left;
height: 670px;
margin-left: 8.532128%;
                     margin-top: 57px;
clear: none;
width: 82.934327%;
                border-top-left-radius: 138px;
//background-color: rgb(196, 146, 146);
border-top-right-radius: 149px;
}


.basic-shape {
  font-size: 12px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  text-align: justify;
  -webkit-hyphens: manual;
  -webkit-shape-inside: polygon(0px 0px, 0 300px, 300px 300px);
}




// SPECIAL COLUMN BUTTON COLORS

.kids-corner-button-style {

  background-color: #ad82ef !important;
  .button-text {
    font-size: 1.618em !important;
    padding: .518em !important;
  }
}

.join-us-button-style {

  .button-text {
    //font: $font-stack;
    //color: $primary-color;
    //margin-bottom: -.118em;

    font-size: 1.618em !important;
  }

  .button-text-small {
    //font: $font-stack;
    //color: $primary-color;
    //padding: 1em;
    font-size: 1.0em !important;
    //line-height: .99em;
  }

}
.growing-banner {
  padding: 1em 2em 1em 2em;
  //margin-top: 10em;
  //background-color: cornflowerblue;
  background-color: rgb(157, 239, 242);
  //border-radius: 1em 1em 0em 0em;
  max-width: 100%;

  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.under-construction {
  font-size: .78em;
  font-weight: 700;
  padding: .6em 2em .6em 2em;
  //margin-top: 10em;
  //background-color: cornflowerblue;
  background-color: rgba(22, 242, 26, 1.0);
  //border-radius: 1em 1em 0em 0em;
  max-width: 100%;
  position: fixed;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.green-strip {
  font-size: 1.15em;
  font-weight: 700;
  padding: .6em 3.3em .6em 3.3em;
  //margin-top: 10em;
  //background-color: cornflowerblue;
  background-color: rgba(22, 242, 26, .8);
  //border-radius: 1em 1em 0em 0em;
  max-width: 100%;
  position: fixed;
  height: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  //z-index: 10;
}


.request-funding {
  padding: 2em;
  background: $site_bg_gradient;
  color: black;
  text-align: justify;

  font-weight: 600;
  font-size: 1.31em;

  height: 100%;
  margin: 1em;

  border-radius: 4em;
  -webkit-hyphens: manual;

}

#login {
  padding-top: 4em;
}

.topic-col-icon {
  display: inline-block;
  float: left;
  position: relative;
  z-index: 1;
  width: 2.1em;
  margin: -.4em .2em .1em .3em;
}
