

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


$font-stack:    Helvetica, sans-serif;
$primary-color: black;
$gray-medium-light: #eaeaea;
$primary-bg-color: rgb(242,209,148);
$secondary_color: darken(desaturate(adjust-hue($primary-bg-color,172),30),0);
$btn1: rgb(18, 175, 241);
$btn2: rgb(38,189,90);
$btn3: rgb(239, 132, 77);
$clr4: darken(adjust_hue($primary-bg-color,168),50);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 70px;
  font: $font-stack;
  //background-color: $primary-bg-color;
  background: linear-gradient( lighten($primary-bg-color,15%),darken($primary-bg-color,10%) );
  //background-image: url("http://animalia-life.com/data_images/donkey/donkey1.jpg");

}



.jumbotron {
  background-color: darken($primary-bg-color,3%);
  padding-top: 10px;
  //margin-left: 10px;
  //margin-left: 1px;
  padding-left: 0px;

}
.main-container{
  background-image: image_url("garden_footer.png");
  background-repeat: repeat-x;
  //margin-bottom: 100px;

  padding-bottom: 30%;
}
.jimbo {
  padding-left: 10%;

}

.video {
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: #FFFFFF;
}

.content-window-bg-color {
  background-color: $primary-bg-color;
}
.content_window {

  height: 100%;
  margin: 2%;
  margin-bottom: 0px;

  padding-bottom: 0%;
  rs {
    font-size: .45em;
    line-height: .1em;
    color: $gray-medium-light
  }
}
#sub-topics-window {
  height: 4em;
}
#content-window {
  height: 24em;
  background-color: #222222;
  //margin: 1em;

  padding: 2em;
  padding-top: .5em;
  color: #F7F7F7;
  a {
    color: #F7F7F7;
  }
}

#supplimental-window {
  
  background-color: #3c3c3c;
  height: 10em;
  color: white;
  //padding-bottom: 0px;
  a {
    color: #F7F7F7;
  }
}

#category-window {

  background-color: #6c6c6c;
  height: 8em;
  color: white;
  //padding-bottom: 0px;
  a {
    color: #F7F7F7;
  }
}

.tight-list {
  margin-top: -2em;
}


.filled-container {
  background-color: rgba(255,255,255,.4);
  height: 100%;
}

.row {
  margin-left: -11%;
  margin-right: 0%;

}

.low-gutter > [class*='col-'] {
  padding-right:.6%;
  padding-left:.6%;
}

.real-small {
  font-size: .618em;

}

.trimmed-icon {
  padding-left: 5%;
  padding-right: 5%;
}
.img-icon {
  width: 3em;
}


.tight-butt {
  padding-bottom: 0%;
  margin-bottom: -1%;
}

.big-butt {
  padding-bottom: 16%;
}

.nice-butt {
  padding-bottom: 2em;
}

.tight-top {
  margin-top: 0em;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

#lang-dropdown{
  margin-top: .618em;

}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  //text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 2%;

  margin-top: 1%;
  //text-align: center;
  font-weight: normal;
  //color: #777;
  //line-height: .1em;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: center;
  font-weight: normal;
  //color: #777;
}
h4 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h5 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //color: #777;
}

h6 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //color: #777;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.table-bb {
  border-color: black;

}

.button-text {
  font: $font-stack;
  color: $primary-color;
  margin-bottom: -.118em;
}

.button-text-small {
  //font: $font-stack;
  color: $primary-color;
  font-size: .618em;
  //line-height: .99em;
}

.button {

  //background-color: rgb(118, 149, 153);
  display: block;
  //border: thin;
  margin: 10px;
  //font-size: 1.35em;
  //padding: .1em;
  //text-align: left;
  color: $primary-color;
  a {
    color: black;

  }

}


.btn-main-menu {
  //background-color: rgb(228, 192, 127);
  background-color: rgba(lighten($primary-bg-color,7%),.95);
  border-color: rgba(darken($primary-bg-color,93%),1);
  color: $primary-color;
  font-size: 1.35em;
  padding: 2%;
  //margin: .5%;
  //list-style: none;
  text-align: left;
  a {
  color: $primary-color;
  }
 // li {
    //padding: 10px 0;
    //border-top: 1px solid #e8e8e8;
  //}

}
.b0 {
  background-color: $primary-bg-color;
}

.b1 {
  background-color: darken($btn1,1%);
}
.b2 {
  background-color: darken($btn2,0%);
}
.b3 {
  background-color: darken($btn3,1%);
}
.b4 {
  background-color: $clr4;
}



.c1 {
  color: darken($btn1,20%);
}
.c2 {
  color: darken($btn2,20%);
}
.c3 {
  color: darken($btn3,20%);
}
.c4 {
  color: $clr4;
}
.topic-form {
  background-color: $secondary_color;
  padding: 4%;

}

.edit-color {
  color: rgb(135, 27, 68);
}

.img-hi-responsive {
  max-width: 100%;
  //height: 100%;
  //max-height: 100%;
}
.main-menu {
 // list-style: none;
  text-align: left;

  sb {

    //clear: both;
    font-size: .55em;
    line-height: .1em;
  }


}
.list-inline2 {

  text-decoration: none;

    ul {
      list-style-type: none;
      //list-style: none;
      margin: 0;
      padding: 0;
      //float: left;
    }

    li {
      display: inline-block;
      //float: left;
    }



}

.pdf-viewer {
  height: $pre-scrollable-max-height;
  overflow: hidden;


}

#pdf-viewer1 {
  height: $pre-scrollable-max-height;
  overflow: visible;

}

.classroom-col {
  border-color: #222222;
  border-style: solid;
  border-width: medium;
  border-radius: 1% ;
}


/* header */

.navbar-special-color {

  background-color: lighten($primary-bg-color,8%);


}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #333;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
//  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;

  color: #777;
  a {
    color: #333;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      //font-size: xx-small;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* MISC */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

a.list-group-item {
  color: $primary-color;

}

a {
  color: $primary-color;
}