

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";



//$font-stack:    Helvetica, sans-serif;
$font-stack:    'Open Sans', sans-serif;
//$font-stack:    'Comic Sans', sans-serif;

$primary-color: black;
$gray-medium-light: #eaeaea;
$primary-bg-color: rgb(242,209,148);
//$primary-bg-color: rgb(185, 242, 240);
//$primary-bg-color: rgb(160, 228, 242);
//$primary-bg-color: rgb(204, 216, 242);
$secondary_color: darken(desaturate(adjust-hue($primary-bg-color,172),30),0);
$btn1: rgb(18, 175, 241);
$btn2: rgb(38,189,90);
$btn3: rgb(239, 132, 77);
$clr4: adjust_hue($primary-bg-color,168);
$content_bg_color: #222222;
$site_orange: rgb(235, 74, 49);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



//smaller screen
@media (max-width: 767px) {
  .navbar-right {margin-right:20px;}
  .navbar-header:after  {
    clear: none;
  }
  #navbar-middle {
    display: none;
  }
  body {
    padding-top: 230px;
  }

  #big_c {
    display: none;
  }
  #small_c1 {
    display: block;
  }
  #small_c2 {
    display: block;
  }
  #small_c3 {
    display: block;
  }

  #action-collumn {
    background-image: image_url("shovel_flat_tall.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 6em;
    background-position-y: 1em;
    //height: 20em;
    padding-top: 4em;
    padding-bottom: 22em;
  }

  .big-row {
    width: 110%;
  }

}
// larger screen
@media (min-width:767px) {

  #big_c {
    display: block;
  }
  #small_c1 {
    display: none;
  }
  #small_c2 {
    display: none;
  }
  #small_c3 {
    display: none;
  }

  #action-collumn {
    background-image: image_url("shovel_flat_tall.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 7.2em;
    background-position-y: 2em;
    min-height: 40em;
    padding-top: 4em;
    padding-bottom: 24em;
  }

  .big-row {
    width: 120em;
  }



}

@media (max-width: 844px) {

  #navbar-middle {
    display: none;
  }
}



#navbar-middle {
//  width: 20%;
}

body {
  padding-top: 50px;
  font-family: $font-stack;


  //background-color: $primary-bg-color;
  background: linear-gradient( lighten($primary-bg-color,15%),darken($primary-bg-color,10%) );
  //background-image: url("http://animalia-life.com/data_images/donkey/donkey1.jpg");

}



.jumbotron {
  background-color: darken($primary-bg-color,3%);
  padding-top: 10px;
  padding-left: 0;

}
.main-container{
  background-image: image_url("garden_footer.jpg");
  background-repeat: repeat-x;
  padding-bottom: 30%;
  background-position: -60px -60px;

}
.jimbo {
  padding-left: 10%;

}

.offset-jimbo {
  margin-left: -11%;
  //padding-left: -10%;
}
.vid-container {
  //position: absolute;
  //top: 50px;

}

.video {
  position:fixed !important;
    position:absolute;
  background: linear-gradient( lighten($primary-bg-color,18%),darken($primary-bg-color,11%) );
  margin-top: 50px;
  top: 0;
  right:0;
  bottom: 0;
  left:0;

  //background-color: #000000;
  background-color: $primary-bg-color;
}

.content-window-bg-color {
  background-color: $primary-bg-color;
}
.content_window {

  height: 100%;
 // margin: 2%;
  //margin-bottom: 10px;

  padding-bottom: 0;

}
#sub-topics-window {

  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;

  margin: 0;
  margin-bottom: -1em;


  //height: 4em;
  height: 100%;
}
#content-window {
  //height: 26em;
  background-color: rgba($content_bg_color,.99);
  margin: 0;
  margin-top: .618em;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 1em;
  padding-bottom: .1em;

  p {
    .hotwords {
      color: #62d1ff;
    }
  }

  color: #F7F7F7;
  a {
    //text-decoration: underline;
    color: #d5f3ff;
  }
}

.content-window-size-1 {
  height: 29em;
}
.content-window-size-2 {
  height: 36em;
}
.content-window-size-3 {
  height: 43em;
}

#below-content-window {
  font-size: 0.76em;
  height: 2em;
  background-color: rgba(darken($content_bg_color, 2%),0.98);
  margin: 0;

  padding-top: 0.3em;
  padding-left: .4em;
  padding-right: 1em;
  color: #F7F7F7;
  overflow-y: hidden;
  overflow-x: hidden;
  a {
    //text-decoration: underline;
    color: #d5f3ff;
  }

}

#supplimental-window {
  position: relative;
  background-color: lighten($content_bg_color,2%);
  //background-color: #3c3c3c;
  height: 7em;
  color: white;
  //overflow: scroll;
  padding: .1em;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;

  a {
    color: #F7F7F7;
  }
}



#category-window {

  //background-color: #6c6c6c;
  height: 7em;
  color: white;
  //padding-bottom: 0px;
  a {
    color: #F7F7F7;
  }
}


.tight-list {
  padding-left: -1em;
  padding-right: -1em;
  margin: -1em;
  margin-top: -1em;
  line-height: .9em;
}


.filled-container {
  background-color: rgba(255,255,255,.333);
  height: 100%;
}

.row {
  margin-left: -11%;
  margin-right: 0;

}

.low-gutter > [class*='col-'] {
  padding-right:.6%;
  padding-left:.6%;
}

.col-borders {
  border-color: darken($content_bg_color,2%);
  border-right-style: solid;
  border-left-style: solid;
  height: 99%;

}
.real-small {
  font-size: .618em;

}

.trimmed-icon {
  padding-left: 5%;
  padding-right: 5%;
}
.img-icon {
  width: 3em;
}
.small-icon {
  margin-top: .55em;
  vertical-align: top;
  align-content: flex-start;
  //margin-top: -2em; *****
  max-height: 2.0em;

}

.nav-menu-icons {

  text-align: center;
  margin-left: -1em;
  margin-right: -1em;
  padding: -1em;
}
.nav-menu-icons-dropdown {
  margin-left: -.5em;
  margin-right: -.5em;
  //padding: -.5em;
}

.header-middle {
  //width: 100%;
  //text-align: center;
}

.tight-butt {
  padding-bottom: 0%;
  margin-bottom: -1%;
}

.big-butt {
  padding-bottom: 16%;
}

.nice-butt {
  padding-bottom: 2em;
}

.firm-butt {
  padding-bottom: 0em;
  margin-bottom: .2em;
}

.tight-top {
  margin-top: 0em;
}

.big-top {
  padding-top: 2em;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

#lang-dropdown{
  margin-top: 0;
  margin-bottom: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  //margin-bottom: 30px;
  //text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 2%;

  margin-top: 1%;
  //text-align: center;
  font-weight: normal;
  //color: #777;
  //line-height: .1em;
}
h3 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 2%;
  //text-align: center;
  font-weight: normal;
  //color: #777;
}
h4 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h5 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //color: #777;
}

h6 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //color: #777;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.table-bb {
  border-color: black;

}

.button-text {
  //font: $font-stack;
  color: $primary-color;
  margin-bottom: -.118em;
}

.button-text-small {
  //font: $font-stack;
  color: $primary-color;
  font-size: .618em;
  //line-height: .99em;
}

.button {

  //background-color: rgb(118, 149, 153);
  display: block;
  //border: thin;
  margin: 10px;
  //font-size: 1.35em;
  //padding: .1em;
  //text-align: left;
  color: $primary-color;
  a {
    color: black;

  }
  
}
.btn-kill {
  color: #b04431;
  //&:hover {
    //color: #fff;

  //}
}

.btn-main-menu {
  //background-color: rgb(228, 192, 127);
  background-color: rgba(lighten($primary-bg-color,7%),.95);
  border-color: rgba(darken($primary-bg-color,93%),1);
  color: $primary-color;
  font-size: 1.35em;
  padding: 2%;
  //margin: .5%;
  //list-style: none;
  text-align: left;
  a {
  color: $primary-color;
  }
 // li {
    //padding: 10px 0;
    //border-top: 1px solid #e8e8e8;
  //}

}
.btn-a {
    background-color: #edffe6;
}
.b0 {
  background-color: $primary-bg-color;
}

.b1 {
  background-color: darken($btn1,1%);
}
.b2 {
  background-color: darken($btn2,0%);
}
.b3 {
  background-color: darken($btn3,1%);
}
.b4 {
  background-color: $clr4;
}



.c1 {
  color: darken($btn1,20%);
}
.c2 {
  color: darken($btn2,20%);
}
.c3 {
  color: darken($btn3,20%);
}
.c4 {
  color: $clr4;
}
.edit-form {
  background-color: $secondary_color;
  padding: 2em;
}

.edit_topic {
  margin-top: -1em;
}

.edit-color {
  color: rgb(135, 27, 68);
}

.img-icon {
  max-width: 4em;

}

.img-hi-responsive {
  max-width: 100%;
  //height: 100%;
  max-height: 10%;
}
.main-menu {
 // list-style: none;
  text-align: left;

  sb {

    //clear: both;
    font-size: .55em;
    line-height: .1em;
  }


}
.list-inline2 {

  text-decoration: none;

    ul {
      list-style-type: none;
      //list-style: none;
      margin: 0;
      padding: 0;
      //float: left;
    }

    li {
      display: inline-block;
      //float: left;
    }
}


.navbar-right {
  padding-left: 0px;
  float: right;
  padding-right: 2em;

}


.nav-list {
  list-style-type: none;
  padding: 0px;

}

.top-menu-icon {
  //width: 10%;
  padding: 0px;
  margin: 0px;
}

.pdf-viewer {
  height: 30em;
  //$pre-scrollable-max-height;

  overflow: hidden;


}

#pdf-viewer1 {
  height: $pre-scrollable-max-height;
  overflow: visible;

}

.classroom-col {
  border-color: #222222;
  border-style: solid;
  border-width: medium;
  border-radius: 1% ;
}

/* header */

.navbar-special-color {
  //background-color: lighten($primary-bg-color,8%);
  background-color: lighten($primary-bg-color,11%);
}


#logo {
  float: left;
  margin-right: 10px;
  padding-left: 1em;
  font-size: 1.518em;
  color: #333;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
//  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;

  color: #e3e3e3;
  a {
    color: #e3e3e3;
    &:hover {
      color: $site_orange;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      //font-size: xx-small;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* MISC */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

a.list-group-item {
  color: $primary-color;

}

a {
  color: $primary-color;
}


// SPECIAL BUTTON COLORS


.kids-corner-button-style {

  background-color: #ad82ef;
  .button-text {
    font-size: 1.618em;
    padding: .518em;
  }
}

.join-us-button-style {

  .button-text {
    //font: $font-stack;
    //color: $primary-color;
    //margin-bottom: -.118em;

    font-size: 1.618em;
  }

  .button-text-small {
    //font: $font-stack;
    //color: $primary-color;
    //padding: 1em;
    font-size: 1.0em;
    //line-height: .99em;
  }

}


.navbar-nav > li {
  margin-left: -4px;
  margin-right: -4px;
}
.navbar-right {
  margin-right: 10px;
}


.tab-cat1 {
  vertical-align: top;
  position: relative;
  left: -2em;
  z-index: 0;
}

.tab-cat2 {
  vertical-align: top;
  position: relative;
  left: -6em;

  //margin: 0em;
  //padding: 0em;
  z-index: 0;
}

.tab-cat3 {
  vertical-align: top;
  position: relative;
  left: -10em;

  //margin: 0em;
  //padding: 0em;
  z-index: 0;
}
.tab-cat4 {
  vertical-align: top;
  position: relative;
  //left: -50px;

  //margin: 0em;
  //padding: 0em;
z-index: 0;
}

.tab-selected {
  z-index: 10;
}

.tab-greyed-out {
  opacity: .4;
}

.alert {
  position: absolute;
  right: 0;
  margin-top: .5em;
  z-index: 100;
}

.hot-words {
  color: #62d1ff;
}

.rtl {
  direction:rtl;
  text-align: right;
}