@import "variables";

.text-fat {

  font-size: 1.6em;
  font-weight: 600;
}

.orange {
  color: lighten($site_orange,10%);
  font-weight: 600;
}

.icon-library {
  margin: -.4em -.6em -.2em -.6em;
  img{
    width: 2em;

  }
}