<div class="bottom">
<footer class="footer">
  <small>
    <%= t('layouts.a_project') %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Ecology Action",   'http://growbiointensive.org', target: "_new" %></li>
      <li><a href="http://vectorclaw.com/" target="_new" class="tiny">Made with <i class="fa fa-heart c-red"></i> in willits by VC</a></li>
    </ul>
  </nav>
</footer>
</div>