<footer class="footer">
  <small>
    A project of Ecology Action of the Mid Pinensula

  </small>
  <nav>
    <ul>
      <li><%= link_to "About EA",   about_path %></li>
      <li><%= link_to "", '#' %></li>
      <li><a href="http://vectorclaw.com/">sitedesign byVC</a></li>
    </ul>
  </nav>
</footer>