<div class="bottom">
<footer class="footer">
  <small>
    <%= t('layouts.a_project') %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Ecology Action",   'http://growbiointensive.org' %></li>
      <li><a href="http://vectorclaw.com/" class="tiny">sitedesign by VC</a></li>
    </ul>
  </nav>
</footer>
</div>