<% if edit_mode != 1 && params[:action] != "library"%>

  <div class="green-strip">
    <div style="z-index:200">
    You can help us reach everyone with the knowledge of health and sustainability.
    <div class="fb-like" data-href="https://biointensive.net" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
 
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://biointensive.net" data-text="GROW BIOINTENSIVE Classroom" data-hashtags="growbiointensive">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- <i class="fa fa-facebook-square fa-lg"></i>
    <i class="fa fa-twitter-square fa-lg"></i>
    <i class="fa fa-google-plus-square fa-lg"></i>
    -->

    <div class="g-plusone" data-size="medium" href="http://biointensive.net"></div>
    Please ￼share￼ this site widely and then
    <a href="https://secure.growbiointensive.org" class="btn button-major-orange" target="_blank">Join Us!</a>
    in making possible its completion.
  </div>
  </div>
<% end %>
